{{define "forms"}}
<div class="mt-6 p-6">
	<form hx-post="/api/v1/dig" hx-trigger="submit" hx-target="#dig-response-target" hx-swap="outerHTML" hx-timeout="60000"
		class="mb-6 rounded p-6 text-stone-100">
		<h2 class="mb-4 text-xl text-stone-400 font-bold">Digestion</h2>
		{{template "digestionFields" .}}
		{{template "submit" "dig"}}
		<div id="dig-response-target"></div>
	</form>
	<form hx-post="/api/v1/med" hx-trigger="submit" hx-target="#med-response-target" hx-swap="outerHTML" hx-timeout="10000"
		class="rounded p-6 text-stone-100">
		<h2 class="mb-4 text-xl text-stone-400 font-bold">Medicine</h2>
		{{template "medicineFields" .}}
		{{template "submit" "med"}}
		<div id="med-response-target"></div>
	</form>
</div>
{{end}}
