<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>
		<link href="/output.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
		<link rel="manifest" href="/manifest.json">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/crab-icon-192x192.png">
		<link rel="apple-touch-icon" sizes="512x512" href="/crab-icon-512x512.png">
		<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/serviceworker.js').then(registration => {
					console.log('Service Worker registered with scope:', registration.scope);
					}, err => {
						console.error('Service Worker registration failed:', err);
				});
			});
		}
		</script>
	</head>
	<body class="bg-zinc-950 mx-auto max-w-xl">
		<main>
			{{if not .IsLoggedIn}}
				{{template "login" .}}
			{{else}}
				{{template "forms" .}}
				{{template "logout" .}}
			{{end}}
		</main>
	</body>
</html>
