{{define "login"}}
<div class="p-16">
	<div class="w-76 rounded-lg bg-stone-900 p-8 shadow-md">
		<h2 class="mb-4 text-center text-2xl font-bold text-stone-100">Chronicle 👋</h2>
		<form method="post" hx-post="/api/v1/login" hx-trigger="submit" hx-swap="beforeend" class="flex flex-col space-y-4">
			<input type="password" name="Password" placeholder="Enter your password" required
				class="rounded-md border border-stone-800 bg-stone-800 p-2 text-stone-100 placeholder-stone-400 focus:border-amber-500 focus:outline-none">
			<button type="submit"
				class="text-white bg-gradient-to-r from-amber-500 via-amber-550 to-amber-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-amber-300 dark:focus:ring-amber-800 shadow-lg shadow-amber-500/50 dark:shadow-lg dark:shadow-amber-800/40 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Login</button>
		</form>
	</div>
</div>
{{end}}
