{{define "medicineFields"}}
<!-- Medicine Choice -->
<fieldset class="mb-2">
	<ul class="w-full space-y-2">
		<li>
			<!-- Ondansetron Radio Input -->
			<input type="radio" id="ondansetron" name="medicine" value="Ondansetron" class="peer hidden" required>
			<label for="ondansetron"
				class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-zinc-800 bg-zinc-800 p-2 text-zinc-300 hover:bg-zinc-900 peer-checked:border-violet-500 peer-checked:text-violet-500">
				<span>Ondansetron</span>
			</label>
		</li>

		<li>
			<!-- levofloxacin Radio Input -->
			<input type="radio" id="levofloxacin" name="medicine" value="Levofloxacin" class="peer hidden" required>
			<label for="levofloxacin"
				class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-zinc-800 bg-zinc-800 p-2 text-zinc-300 hover:bg-zinc-900 peer-checked:border-violet-500 peer-checked:text-violet-500">
				<span>Levofloxacin</span>
			</label>
		</li>


		<li>
			<!-- Dexamethason Radio Input -->
			<input type="radio" id="dexamethason" name="medicine" value="Dexamethason" class="peer hidden">
			<label for="dexamethason"
				class="inline-flex w-full cursor-pointer items-center justify-between rounded-lg border border-zinc-800 bg-zinc-800 p-2 text-zinc-300 hover:bg-zinc-900 peer-checked:border-violet-500 peer-checked:text-violet-500">
				<span>Dexamethason</span>
			</label>
		</li>

        <li>
            <!-- Milk of Magnesia Dropdown Input -->
            <select id="milkOfMagnesia" name="milkOfMagnesia" class="w-full rounded-lg border border-zinc-800 bg-zinc-800 p-2 text-zinc-300 placeholder-zinc-400">
                <option disabled selected value>Milk of Magnesia</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
            </select>
        </li>

	</ul>
</fieldset>
<div class="mb-4">
	{{template "note"}}
</div>

<script>
// Needed to allow Milk of Magnesia dropdown to function as its own button
document.addEventListener('DOMContentLoaded', (event) => {
	function resetRadios() {
		var milkOfMagnesia = document.getElementById('milkOfMagnesia');
		if (milkOfMagnesia.selectedIndex > 0) {
			var radios = document.querySelectorAll('input[type=radio][name=medicine]');
			radios.forEach(function(radio) {
				if (radio.checked) {
					radio.checked = false;
					// Manually trigger a 'change' event on the radio button
					var event = new Event('change', {
						'bubbles': true,
						'cancelable': true
					});
					radio.dispatchEvent(event);
				}
			});
		}
	}

	function resetDropdown() {
		var milkOfMagnesia = document.getElementById('milkOfMagnesia');
		milkOfMagnesia.selectedIndex = 0;
	}

	function validateForm() {
		var milkOfMagnesia = document.getElementById('milkOfMagnesia');
		var ondansetron = document.getElementById('ondansetron');
		var dexamethason = document.getElementById('dexamethason');
		var levofloxacin = document.getElementById('levofloxacin');


		if (milkOfMagnesia.selectedIndex > 0) {
			// If Milk of Magnesia is selected, the radio buttons are not required
			ondansetron.required = false;
			dexamethason.required = false;
			levofloxacin.required = false;
		} else {
			// If Milk of Magnesia is not selected, at least one radio button is required
			ondansetron.required = true;
		}
	}

	// Call validateForm on change of the dropdown or the radio buttons
	document.getElementById('milkOfMagnesia').addEventListener('change', function() {
		resetRadios();
		validateForm();
	});

	var radios = document.querySelectorAll('input[type=radio][name=medicine]');
	radios.forEach(function(radio) {
		radio.addEventListener('change', function() {
			validateForm();
		});
	});

	// Add the event listeners
	document.getElementById('ondansetron').addEventListener('change', function() {
		if(this.checked) {
			resetDropdown();
		}
	});
	document.getElementById('levofloxacin').addEventListener('change', function() {
		if(this.checked) {
			resetDropdown();
		}
	});
	document.getElementById('dexamethason').addEventListener('change', function() {
		if(this.checked) {
			resetDropdown();
		}
	});
	document.getElementById('milkOfMagnesia').addEventListener('change', function() {
		resetRadios();
	});
});
</script>
{{end}}
